In [3]:
data = pd.read_csv("glass.csv")

In [4]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X, y)
yp = model.predict(X)
accuracy_score(y, yp)

1.0

In [4]:
data = pd.read_csv("df_for_models.csv")
data.head()

,school,fuck,muslim,joke,black,christian,female,islamic,sexist,ur,...,bloody,annie,plate,competition,breakfast,robert,egg,campaign,opposite,cyberbullying_type
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not_cyberbullying
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not_cyberbullying
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not_cyberbullying
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not_cyberbullying
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not_cyberbullying

In [7]:
data = data[:100]

In [4]:
pd.read_csv("bcan.csv")

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [1]:
import pandas as pd
data = pd.read_csv("bcan.csv")
X = data.drop(["diagnosis", "id"], axis=1).values
y = data["diagnosis"].values
from decisionTree import decisionTree
dt = decisionTree()
dt.train(X, y)
ypred, yprob = [], []
ypred, yprob = dt.predict(X)

In [2]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ypred, y))

0.9533333333333334

In [3]:
len(X.shape)

2

In [3]:
import numpy as np
np.unique(ypred, return_counts=True)

(array([1, 2, 7]), array([  1, 186,  27]))

In [4]:
np.unique(y, return_counts=True)

(array([1, 2, 3, 5, 6, 7]), array([70, 76, 17, 13,  9, 29]))

In [5]:
dt.gini_impurity(y)

0.736745567298454

In [6]:
col, split = dt.find_split(X, y)

In [6]:
print(col, split)

2 3.0

In [7]:
l, r = dt.divide_data(X, col, split)

In [8]:
col, split = dt.find_split(X[r], y[r])

In [18]:
dt.build_tree(X, y).split

3.0

In [26]:
dt.build_tree(X[r], y[r]).col

2

In [24]:
dt.gini_impurity(y[r])

0.04253308128544431

In [9]:
dt.gini_impurity(y[r])

0.49994898479746963

In [10]:
print(dt.root.right)

AttributeError: 'NoneType' object has no attribute 'right'

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ypred, y))

0.6666666666666666

In [15]:
import numpy as np
np.unique(ypred, return_counts=True)

(array(['Setosa', 'Virginica'], dtype='<U9'), array([51, 99]))

In [16]:
dt.root.col

2

In [17]:
dt.root.left.col

2

In [19]:
dt.root.right.leaf

True